@mixin phone {
    @media only screen and (max-width: 649px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 952px) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (max-width: 1324px) {
        @content;
    }
}


@mixin pantalla {
    @media only screen and (min-width: 2145px) {
        @content;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    position: relative;

}

.contenedor-general {
    position: inherit;
    display: flex;
    max-width: 1366px;
    width: 100%;
    height: 100%;
    margin: auto;

    justify-content: center;

    box-sizing: border-box;

    @include phone {
        flex-flow: column;

    }

    @include tablet {
        flex-flow: column;
        width: 100%;
    }

    //?? contenedores separados . 

    .izquierdo {
        display: flex;
        flex-flow: column;
        width: 50vw;
        align-content: flex-start;

        @include phone {
            width: 100vw;
        }

        @include tablet {
            width: 100vw;
        }

        box-sizing: border-box;
        background-color: black;
        align-items: center;
        justify-content: flex-start;
        background-image: url("../assets/img/mexico1.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 2000px rgba(5, 1, 7, 0.822);

        .texto {
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            margin: 30px;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            line-height: 25px;
            width: 80%;

            h1 {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 15px;
                margin-top: 15px;
                text-align: justify;
            }
        }
    }

    .derecho {
        display: flex;
        background-color: rgb(211, 211, 211);
        width: 50vw;
        height: 100%;
        box-sizing: border-box;
        padding: 15px;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        img {
            margin-left: auto;
            margin-right: auto;
            height: 25%;
        }

        @include phone {
            width: 100vw;
        }

        @include tablet {
            width: 100vw;
        }

        .contenedor-formulario {
            height: 90%;
            width: 80%;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            box-sizing: border-box;
            color: rgb(97, 97, 97);

            @include phone {
                width: 100vw;

                p {
                    text-align: justify;
                    font-size: 11pt;
                }

                h2 {
                    font-size: 1.4em;
                }
            }
        }

        h2 {
            font-size: 2.2em;
            margin-bottom: 15px;
        }

        form {
            max-width: 500px;
            overflow-y: auto;
            display: flex;
            justify-content: flex-end;
            flex-flow: column-reverse;
            width: 100%;
            height: 100%;
            transition: all 0.30s ease-in-out;
            box-sizing: border-box;

            label {
                color: grey;
                outline: none;
                margin-top: 1.2em;
                font-weight: 600;
                font-size: 0.8em;
            }

            input[type=text],
            select,
            textarea,
            input[type=checkbox] {
                padding-bottom: 2px;
                outline: none;
                border: none;
                border-bottom: 1px solid grey;
                transition: all 0.3s ease;
                font-size: 12pt;

                &:focus {
                    border-bottom: 1px solid #4A90E2;
                    color: #4A90E2;
                    transition: 0.2s ease all;

                    +label,
                    option {
                        color: #4A90E2
                    }
                }
            }

            textarea {
                padding: 0px;
            }

            label strong {
                color: grey;
                font-weight: normal;
                margin-top: 13px;
            }

            select {
                margin-top: 15px;
            }

            option {
                border: none;
                background-color: white;
            }

            .respuestas {
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    margin-top: 16px;
                    margin-right: 5px;
                }

                label {
                    margin-right: 10px;
                }
            }
        }
    }

}

//* Estilos de componentes generales
.tc {
    text-align: center;
}

.btn-primario {
    border: none;
    background-color: #4A90E2;
    height: 45px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.2s ease all;

    &:hover {
        background-color: rgb(11, 110, 223);
        box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
    }
}

.sticky {
    transition: 0.1s ease all;
    position: sticky;
    top: 30px;

}


.emojis {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;
}