@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}

.contenedor-general {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 649px) {
  .contenedor-general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (max-width: 952px) {
  .contenedor-general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
  }
}

.contenedor-general .izquierdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50vw;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../assets/img/mexico1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(5, 1, 7, 0.822);
          box-shadow: inset 0 0 0 2000px rgba(5, 1, 7, 0.822);
}

@media only screen and (max-width: 649px) {
  .contenedor-general .izquierdo {
    width: 100vw;
  }
}

@media only screen and (max-width: 952px) {
  .contenedor-general .izquierdo {
    width: 100vw;
  }
}

.contenedor-general .izquierdo .texto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  line-height: 25px;
  width: 80%;
}

.contenedor-general .izquierdo .texto h1 {
  margin-bottom: 30px;
}

.contenedor-general .izquierdo .texto p {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: justify;
}

.contenedor-general .derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  width: 50vw;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contenedor-general .derecho img {
  margin-left: auto;
  margin-right: auto;
  height: 25%;
}

@media only screen and (max-width: 649px) {
  .contenedor-general .derecho {
    width: 100vw;
  }
}

@media only screen and (max-width: 952px) {
  .contenedor-general .derecho {
    width: 100vw;
  }
}

.contenedor-general .derecho .contenedor-formulario {
  height: 90%;
  width: 80%;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #616161;
}

@media only screen and (max-width: 649px) {
  .contenedor-general .derecho .contenedor-formulario {
    width: 100vw;
  }
  .contenedor-general .derecho .contenedor-formulario p {
    text-align: justify;
    font-size: 11pt;
  }
  .contenedor-general .derecho .contenedor-formulario h2 {
    font-size: 1.4em;
  }
}

.contenedor-general .derecho h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
}

.contenedor-general .derecho form {
  max-width: 500px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor-general .derecho form label {
  color: grey;
  outline: none;
  margin-top: 1.2em;
  font-weight: 600;
  font-size: 0.8em;
}

.contenedor-general .derecho form input[type=text],
.contenedor-general .derecho form select,
.contenedor-general .derecho form textarea,
.contenedor-general .derecho form input[type=checkbox] {
  padding-bottom: 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 12pt;
}

.contenedor-general .derecho form input[type=text]:focus,
.contenedor-general .derecho form select:focus,
.contenedor-general .derecho form textarea:focus,
.contenedor-general .derecho form input[type=checkbox]:focus {
  border-bottom: 1px solid #4A90E2;
  color: #4A90E2;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.contenedor-general .derecho form input[type=text]:focus + label,
.contenedor-general .derecho form input[type=text]:focus option,
.contenedor-general .derecho form select:focus + label,
.contenedor-general .derecho form select:focus option,
.contenedor-general .derecho form textarea:focus + label,
.contenedor-general .derecho form textarea:focus option,
.contenedor-general .derecho form input[type=checkbox]:focus + label,
.contenedor-general .derecho form input[type=checkbox]:focus option {
  color: #4A90E2;
}

.contenedor-general .derecho form textarea {
  padding: 0px;
}

.contenedor-general .derecho form label strong {
  color: grey;
  font-weight: normal;
  margin-top: 13px;
}

.contenedor-general .derecho form select {
  margin-top: 15px;
}

.contenedor-general .derecho form option {
  border: none;
  background-color: white;
}

.contenedor-general .derecho form .respuestas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general .derecho form .respuestas input {
  margin-top: 16px;
  margin-right: 5px;
}

.contenedor-general .derecho form .respuestas label {
  margin-right: 10px;
}

.tc {
  text-align: center;
}

.btn-primario {
  border: none;
  background-color: #4A90E2;
  height: 45px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.btn-primario:hover {
  background-color: #0b6edf;
  -webkit-box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
          box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
}

.sticky {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.emojis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.2em;
}
/*# sourceMappingURL=estilos.css.map */